// ------------------------------------------------
//  ファイル名：_base.scss
//  機能：ベーススタイルを記述する
// ------------------------------------------------
body {
  margin: 0;
  color: #333;
  font-family: Montserrat, "Noto Sans JP", sans-serif;
  line-height: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

a {
  color: #0069ff;
}

img {
  max-width: 100%;
  vertical-align: top;
}
