/*------------------------------------------------
    ファイル名：_base.scss
    機能：ベーススタイルを記述する
--------------------------------------------------*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  color: #222222;
  font-family: "Noto Serif", "Noto Serif JP", sans-serif;
  line-height: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

a {
  color: #0069ff;
}

img {
  max-width: 100%;
  vertical-align: top;
}
