@use "mixin" as m;
@use "variables" as v;

/*------------------------------------------------
    ファイル名：_main.scss
    機能：webページ全体のスタイルを記述する
--------------------------------------------------*/

/*----------------------
  レイアウト
------------------------*/
/* ヘッダーエリア */
.ly_header {
  /* ヘッダーとキービジュアルを重ねる */
  position: absolute;

  /* 最前列に描画する */
  z-index: 99;

  /* 大きさ設定をborderまで含める */
  box-sizing: border-box;

  /* 大きさ設定 */
  width: 100%;

  /* 余白設定 */
  padding: max(calc(1.25rem + ((1vw - 3.75px) * 3.5115)), 20px) max(calc(0.9375rem + ((1vw - 3.75px) * 3.8168)), 15px);

  /* タブレット幅以上用 */
  @include m.mediaQueryMin(md) {
    padding: min(calc(2.1125rem + ((1vw - 7.68px) * -0.5655)), 33.8px)
      max(calc(1.875rem + ((1vw - 7.68px) * 4.1667)), 30px);
  }

  /* PC幅以上用 */
  @include m.mediaQueryMin(lg) {
    padding: 30px 58px;
  }
}

/* HOMEページ用記事エリア */
.pg_home .ly_article {
  padding-top: 80px;

  /* タブレット幅以上用 */
  @include m.mediaQueryMin(md) {
    padding-top: max(calc(5rem + ((1vw - 7.68px) * 5.9524)), 80px);
  }

  /* PC幅以上用 */
  @include m.mediaQueryMin(lg) {
    padding-top: 120px;
  }
}

/* ABOUTページ用、CONTACTページ用記事エリア */
.pg_about .ly_article,
.pg_contact .ly_article {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* コンテンツエリア */
.ly_cont {
  /* 余白設定 */
  padding: 40px max(calc(0.9375rem + ((1vw - 3.75px) * 5.137)), 15px);

  /* タブレット幅以上用 */
  @include m.mediaQueryMin(md) {
    /* 余白設定 */
    padding: max(calc(2.5rem + ((1vw - 7.68px) * 2.9762)), 40px) max(calc(1.875rem + ((1vw - 7.68px) * 20.8333)), 30px);
  }

  /* PC幅以上用 */
  @include m.mediaQueryMin(lg) {
    /* 余白設定 */
    padding: 60px max(calc(50vw - 550px), 170px);
    max-width: 1100px;
  }

  /* オーバーレイ要素用 */
  &.ly_cont__overlay {
    padding: 0;

    /* タブレット幅以上用 */
    @include m.mediaQueryMin(md) {
      /* 一部だけ背景色を塗る */
      background: linear-gradient(to top, #f0f0f0 100px, #fff 100px);

      /* 余白設定 */
      padding: 0 max(calc(0.0625rem + ((1vw - 7.68px) * 25.1488)), 0px);
    }

    /* PC幅以上用 */
    @include m.mediaQueryMin(lg) {
      /* 余白設定 */
      padding: 0 max(calc(50vw - 550px), 170px);
      max-width: 1100px;
    }
  }

  /* 背景色を設定 */
  &.ly_cont__gray {
    background-color: #f0f0f0;
  }

  /* 2カラム */
  &.ly_cont__col2 {
    /*  margin-bottom: -40px;*/

    & > *:last-child {
      margin-bottom: 0;
    }

    /* PC幅以上用 */
    @include m.mediaQueryMin(lg) {
      display: flex;
    }
  }
}

/* ２カラムコンテンツエリア（内側） */
.ly_cont__col2 .ly_cont_inner {
  margin-bottom: 40px;

  /* PC幅以上用 */
  @include m.mediaQueryMin(lg) {
    /* 余白設定 */
    margin-right: 60px;

    /* 一番右の要素に右マージンは不要 */
    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }
}

/* フッターエリア */
.ly_footer {
  width: 100%;
  height: 50px;
  background-color: #525252;

  /* 上下中央揃え */
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----------------------
  ヘッダー
------------------------*/
/* ヘッダー全体 */
.bl_headerUtils {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* サイトロゴ */
.bl_headerUtils_logo {
  display: block;
  width: 189px;

  /* 余白設定 */
  margin: 0;

  font-size: 0;

  /* タブレット幅以上用 */
  @include m.mediaQueryMin(md) {
    width: max(calc(11.8125rem + ((1vw - 7.68px) * 10.5655)), 189px);
  }

  /* PC幅以上用 */
  @include m.mediaQueryMin(lg) {
    width: 260px;
  }

  img {
    width: 100%;
    height: auto;
  }
}

/*----------------------
  ヘッダーナビゲーション
------------------------*/
/* ヘッダーナビゲーション全体 */
.bl_headerNav {
  /* ナビゲーションが表示時は、
    画面の前面に表示させる */
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;

  /* 大きさ設定 */
  width: 100%;
  height: 100vh;

  /* 最初は非表示（ハンバーガーボタンクリックで表示） */
  opacity: 0;
  visibility: hidden;
}

/* ヘッダーナビゲーションを表示する */
.bl_headerNav.is_fade {
  /* 不透明（黒背景） */
  opacity: 100%;
  visibility: visible;
}

/* ヘッダーナビゲーション（内側） */
.bl_headerNav_inner {
  /* 大きさ設定 */
  width: 100%;
  height: 100vh;

  /* 中央揃え */
  text-align: center;

  /* リストの装飾をクリアする */
  list-style: none;

  /* 背景色を設定 */
  background-color: #222222;
  opacity: 100%;

  /* 余白設定 */
  padding: 180px 0 0 0;
  margin: 0;

  /* PC幅以上用 */
  @include m.mediaQueryMin(lg) {
    /* 大きさ設定 */
    width: 520px;

    /* 位置設定 */
    position: absolute;
    top: 0;
    right: 0;

    /* 背景色を透過させる */
    opacity: 95%;

    /* ナビゲーションリンク以外のエリアを薄暗くさせる */
    &::before {
      display: block;
      content: "";

      width: calc(100vw - 520px);
      height: 100vh;

      position: absolute;
      top: 0;
      right: 520px;

      background-color: #222;
      opacity: 60%;
    }
  }
}

/* ナビゲーションリンク（サイトロゴ） */
.bl_headerNav_siteLogo {
  /* 中央揃え */
  display: inline-block;

  /* 余白設定 */
  margin-bottom: 40px;
}

/* ナビゲーションリンク（セクション） */
.bl_headerNav_link {
  /* 中央揃え */
  display: inline-block;

  /* 文字設定 */
  text-decoration: none;
  color: #fff;
  font-weight: map-get(v.$fontweights, extrabold);
  font-size: 1.25rem;
  letter-spacing: 0.068em;
  white-space: nowrap;

  /* 余白設定 */
  margin-bottom: 30px;
}

/* ハンバーガーボタン */
.bl_humbergerBtn {
  display: flex;
  align-items: center;

  /* 元のデザインを消去 */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;

  /* 余白設定 */
  padding: 0;
}

/* ハンバーガーボタンアイコン */
.bl_humbergerBtn_icon {
  /* 基準座標を設定 */
  position: relative;

  /* 最前面に描画する */
  z-index: 3;

  /* ブロック要素に設定 */
  display: block;

  width: 22px;
  height: 10px;

  /* 余白設定 */
  margin-right: 7px;
  padding: 0;
}

/* ハンバーガーボタン文字 */
.bl_humbergerBtn_txt {
  /* 最前面に描画する */
  z-index: 3;

  /* 文字設定 */
  color: #fff;
  font-weight: map-get(v.$fontweights, extrabold);
  font-size: 0.625rem;
  letter-spacing: 0.005em;

  /* 余白設定 */
  margin: 0;
}

/* ハンバーガーボタン（オープン）：共通 */
.bl_humbergerBtn_bar {
  position: absolute;
  display: block;

  width: 22px;
  height: 2px;
  background-color: #ffffff;
  transition: all 0.3s;
  border-radius: 100vh;
}

/* ハンバーガーボタン（オープン）：一段目のバー */
.bl_humbergerBtn_bar.bl_humbergerBtn_bar__top {
  top: -1px;
}

/* ハンバーガーボタン（オープン）：二段目のバー */
.bl_humbergerBtn_bar.bl_humbergerBtn_bar__mid {
  top: 50%;

  transform: translateY(-50%);
}

/* ハンバーガーボタン（オープン：三段目のバー */
.bl_humbergerBtn_bar.bl_humbergerBtn_bar__bottom {
  bottom: -1px;
}

/* ハンバーガーボタン（クローズ）：一段目のバー */
.bl_humbergerBtn.is_close .bl_humbergerBtn_bar.bl_humbergerBtn_bar__top {
  transform: translate(0px, 4px) rotate(30deg);
}

/* ハンバーガーボタン（クローズ）：二段目のバー */
.bl_humbergerBtn.is_close .bl_humbergerBtn_bar.bl_humbergerBtn_bar__mid {
  opacity: 0;
}

/* ハンバーガーボタン（クローズ）：三段目のバー */
.bl_humbergerBtn.is_close .bl_humbergerBtn_bar.bl_humbergerBtn_bar__bottom {
  transform: translate(0px, -6px) rotate(-30deg);
}

/* ハンバーガーボタンのオープン時はスクロールしない */
.is_noscroll {
  overflow: hidden;
}

/*----------------------
  キービジュアル
------------------------*/
/* キービジュアル全体 */
.bl_keyVisual {
  position: relative;
  height: 100vh;
  /* 一部だけ背景色を塗る */

  background: linear-gradient(
    to right,
    #fff max(calc(5.75rem + ((1vw - 3.75px) * 29.0076)), 92px),
    red max(calc(5.75rem + ((1vw - 3.75px) * 29.0076)), 92px)
  );

  /* タブレット幅以上用 */
  @include m.mediaQueryMin(md) {
    /* 一部だけ背景色を塗る */
    background: linear-gradient(
      to right,
      #fff max(calc(12.875rem + ((1vw - 7.68px) * 67.5595)), 206px),
      #222 max(calc(12.875rem + ((1vw - 7.68px) * 67.5595)), 206px)
    );
  }

  /* PC幅以上用 */
  @include m.mediaQueryMin(lg) {
    /* 一部だけ背景色を塗る */
    background: linear-gradient(to right, #fff 660px, #222 660px);
  }
}

/* aboutページ用キービジュアル全体 */
.pg_about .bl_keyVisual {
  /* 大きさ設定 */
  height: 449px;

  /* 一部だけ背景色を塗る */
  background: linear-gradient(to left, #222 198px, transparent 198px);
}

/* キービジュアル（画像） */
.bl_keyVisual_img {
  /*--- サイズ設定      
      sp用:　w=287px, h=580px
      tb用:  w=660px, h=890px
    ---*/
  width: max(calc(17.9375rem + ((1vw - 3.75px) * 79.6438)), 287px);
  height: max(calc(36.25rem + ((1vw - 3.75px) * 78.8804)), 580px);
  -o-object-fit: cover;
  object-fit: cover;

  /* タブレット幅以上用 */
  @include m.mediaQueryMin(md) {
    /*サイズ設定 */
    width: max(calc(37.5rem + ((1vw - 7.68px) * 74.4048)), 600px);
    height: min(calc(55.625rem + ((1vw - 7.68px) * -37.2024)), 890px);
  }

  /* PC幅以上用 */
  @include m.mediaQueryMin(lg) {
    /*サイズ設定 */
    width: 1100px;
    height: 640px;
  }
}

/* aboutページ用キービジュアル（画像） */
.pg_about .bl_keyVisual_img {
  /*--- サイズ設定      
      sp用:　w=287px, h=387px
      tb用:  w=587px, h=529px 
    ---*/
  width: max(calc(17.9375rem + ((1vw - 3.75px) * 76.3359)), 287px);
  height: max(calc(24.1875rem + ((1vw - 3.75px) * 36.1323)), 387px);
}

/* 文字のまとまり */
.bl_keyVisual_body {
  position: absolute;
  top: 176px;
  left: 110px;

  /* タブレット幅以上用 */
  @include m.mediaQueryMin(md) {
    top: min(calc(20.6875rem + ((1vw - 7.68px) * -25.5952)), 331px);
    right: min(calc(5rem + ((1vw - 7.68px) * 16.9643)), 80px);
  }
  /* PC幅以上用 */
  @include m.mediaQueryMin(lg) {
    top: 159px;
    right: 194px;
  }
}

/* aboutページ用文字のまとまり */
.pg_about .bl_keyVisual_body {
  top: 149px;
}

/* キャッチコピー（小） */
.bl_keyVisual_smallCopy {
  /* 文字設定 */
  font-family: "Montserrat", "游ゴシック", "YuGothic", sans-serif;
  color: #fff;
  font-weight: map-get(v.$fontweights, bold);
  letter-spacing: 0.063em;
  @include m.lineHeightAdjustment(1.3125);

  /* 余白設定 */
  margin-top: 0;
  margin-bottom: 10px;

  /* 文字調整 */
  /*
  &::before {
    margin-top: 0px;
  }

  &::after {
    margin-bottom: 0px;
  }*/

  /* タブレット幅以上用 */
  @include m.mediaQueryMin(md) {
    /* 文字設定 */
    font-size: min(calc(1rem + ((1vw - 0.48rem) * 0.5952)), 1.25rem);
  }

  /* PC幅以上用 */
  @include m.mediaQueryMin(lg) {
    /* 文字設定 */
    font-size: 1.25rem;
    letter-spacing: 0;

    /* 余白設定 */
    padding-bottom: 0;

    /* 文字調整 */
    &::before {
      margin-top: 3px;
    }

    &::after {
      margin-bottom: 3px;
    }
  }
}

/* キャッチコピー（大） */
.bl_keyVisual_bigCopy {
  /* 文字設定 */
  color: #fff;
  font-weight: map-get(v.$fontweights, extrabold);
  font-size: 3.5rem;
  letter-spacing: 0.063em;
  @include m.lineHeightAdjustment(0.946429);

  /* 余白設定 */
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;

  /* 文字調整 */
  /*
  &::before {
    margin-top: 6px;
  }

  &::after {
    margin-bottom: 6px;
  }*/

  /* タブレット幅以上用 */
  @include m.mediaQueryMin(md) {
    /* 文字設定 */
    font-size: min(calc(3.5rem + ((1vw - 0.48rem) * 2.381)), 4.5rem);
  }

  /* PC幅以上用 */
  @include m.mediaQueryMin(lg) {
    /* 文字設定 */
    font-size: 4.5rem;
    letter-spacing: 0;
    @include m.lineHeightAdjustment(1.194444);

    /* 文字調整 */
    &::before {
      margin-top: 2px;
    }

    &::after {
      margin-bottom: 2px;
    }
  }
}

/* aboutページ用キャッチコピー（大） */
.pg_about .bl_keyVisual_bigCopy {
  /* 文字設定 */
  font-size: 3.25rem;
  letter-spacing: 0;
}

/*----------------------
  オーバーレイ
------------------------*/
/* オーバーレイ背景 */
.bl_overlay_bg {
  /* 背景設定 */
  background-image: url("../img/about-img@2x.jpg");
  background-position: center bottom;
  background-size: cover;

  /* 余白設定 */
  padding: max(calc(3.125rem + ((1vw - 3.75px) * 2.5445)), 50px) 15px;

  /* タブレット幅以上用 */
  @include m.mediaQueryMin(md) {
    /* 余白設定 */
    padding-top: max(calc(3.75rem + ((1vw - 7.68px) * 7.4405)), 60px);
    padding-bottom: max(calc(3.75rem + ((1vw - 7.68px) * 7.4405)), 60px);
    padding-left: min(calc(5.5rem + ((1vw - 7.68px) * -5.6548)), 89px);
  }

  /* PC幅以上用 */
  @include m.mediaQueryMin(lg) {
    /* 余白設定 */
    padding-top: 110px;
    padding-bottom: 110px;
    padding-left: 50px;
  }
}

/* オーバーレイ（白背景） */
.bl_overlay {
  /* 大きさ設定はボーダーまで含める */
  box-sizing: border-box;

  /* 大きさ設定 */
  max-width: 590px;

  /* 前面に描画する */
  background-color: #fff;
  z-index: 2;

  /* 余白設定 */
  padding: 50px 30px;
  margin: 0 auto;

  /* タブレット幅以上用 */
  @include m.mediaQueryMin(md) {
    /* 中央揃えをやめる */
    margin-left: 0;

    /* 保留（タブレットだけ余白が違う） */
    /*padding: 50px 30px;*/
  }

  /* PC幅以上用 */
  @include m.mediaQueryMin(lg) {
    /* 余白設定 */
    margin-top: 0;
  }
}

/* 文字（オーバーレイ） */
.bl_overlay_txt {
  /* 文字設定 */
  font-family: "Montserrat", "游ゴシック", "YuGothic", sans-serif;
  font-weight: map-get(v.$fontweights, medium);
  font-size: 0.875rem;
  letter-spacing: 0;
  @include m.lineHeightAdjustment(2);

  /* 余白設定 */
  margin-top: 0;
  margin-bottom: 27px;

  /* 文字調整 */
  &::before {
    margin-top: -5px;
  }

  &::after {
    margin-bottom: -5px;
  }

  /* タブレット幅以上用 */
  @include m.mediaQueryMin(md) {
    /* 文字設定 */
    font-size: 1rem;
    @include m.lineHeightAdjustment(2);

    /* 余白設定 */
    margin-top: 0;
    margin-bottom: 25px;

    /* 文字調整 */
    &::before {
      margin-top: -5.5px;
    }

    &::after {
      margin-bottom: -5.5px;
    }
  }

  /* PC幅以上用 */
  @include m.mediaQueryMin(lg) {
    margin-bottom: 30px;
  }
}

/*----------------------
  カード
------------------------*/
/* 画像 */
.bl_card_img {
  width: 100%;
  max-width: 520px;
  height: auto;

  -o-object-fit: cover;
  object-fit: cover;
}

/* 文字のまとまり */
.bl_card_body {
  padding: 28px 0 27px 0;

  /* 最終ブロックのマージンは除去 */
  & > *:last-child {
    margin-bottom: 0;
  }
}

/* 文字 */
.bl_card_txt {
  /* 文字設定 */
  font-family: "Montserrat", "游ゴシック", "YuGothic", sans-serif;
  font-weight: map-get(v.$fontweights, medium);
  @include m.lineHeightAdjustment(1);

  /* 余白設定 */
  margin-top: 0;
  margin-bottom: 10px;

  &::before {
    margin-top: 2.5px;
  }

  &::after {
    margin-bottom: 2.5px;
  }
}

/*----------------------
  ポストリスト（縦型）
------------------------*/
/* ポストリスト全体 */
.bl_vertPosts {
  list-style: none;

  max-width: 700px;

  /* 余白設定 */
  padding: 0;
  margin: 0 0 30px 0;

  /* PC幅以上用 */
  @include m.mediaQueryMin(lg) {
    margin-left: auto;
  }
}

/* ポストアイテム */
.bl_vertPosts_item {
  box-sizing: border-box;

  /* ボーダー設定 */
  border-bottom: 1px solid #dddddd;

  /* 余白設定 */
  margin-bottom: 20px;

  /* タブレット幅以上用 */
  @include m.mediaQueryMin(md) {
    /* 余白設定 */
    margin-bottom: 30px;
  }
}

.bl_vertPosts_header {
  /* bl_vertPosts_dateのフォントサイズの方が小さく、
    要素の高さがずれるため調整 */
  font-size: 0;

  /* 余白設定 */
  margin-bottom: 9px;

  /* タブレット幅以上用 */
  @include m.mediaQueryMin(md) {
    /* 余白設定 */
    margin-bottom: 10px;
  }
}

/* 日付（ポストアイテム） */
.bl_vertPosts_date {
  /* 文字設定 */
  color: #cecece;
  font-weight: map-get(v.$fontweights, bold);
  font-size: 0.625rem;
  letter-spacing: 0.015em;
}

/* 記事名（ポストアイテム） */
.bl_vertPosts_ttl {
  display: block;
  text-decoration: none;

  /* 文字設定 */
  color: v.$base-color;
  font-family: "Montserrat", "游ゴシック", "YuGothic", sans-serif;
  font-weight: map-get(v.$fontweights, bold);
  font-size: 0.75rem;
  @include m.lineHeightAdjustment(1.666666);

  /* 余白設定 */
  margin-bottom: 7px;

  /* 文字調整 */
  &::before {
    margin-top: -2px;
  }
  &::after {
    margin-bottom: -2px;
  }

  /* タブレット幅以上用 */
  @include m.mediaQueryMin(md) {
    /* 文字設定 */
    font-size: 0.875rem;

    /* 余白設定 */
    margin-bottom: 10px;

    /* 文字調整 */
    &::before {
      margin-top: -3px;
    }

    &::after {
      margin-bottom: -3px;
    }
  }
}

/*----------------------
  ２カラムセクション（PC幅でのみ２カラム）
------------------------*/
/* ２カラムセクション全体 */
.bl_sectionCol2 {
  /* PC幅以上用 */
  @include m.mediaQueryMin(lg) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

/* セクションのイメージ画像 */
.bl_sectionCol2_img {
  /* 大きさ設定 */
  width: 100%;
  max-width: 520px;
  height: auto;

  /* アスペクト比を維持したまま
    ボックス全体を埋めるように拡大縮小 */
  -o-object-fit: cover;
  object-fit: cover;

  /* 余白設定 */
  margin-top: 0;
  margin-bottom: 30px;

  /* PC幅以上用 */
  @include m.mediaQueryMin(lg) {
    /* 大きさ設定 */
    max-width: 580px;

    margin-left: 80px;
    margin-bottom: 0;
  }
}

/* セクションのボディ（タイトル、文字、ボタン） */
.bl_sectionCol2_body {
  /* PC幅以上用 */
  @include m.mediaQueryMin(lg) {
    width: 440px;
  }
}

/*----------------------
  タイトル
------------------------*/
/* セクションタイトル */
.el_sectionTtl {
  /* 文字設定 */
  color: v.$base-color;
  font-weight: map-get(v.$fontweights, extrabold);
  font-size: 1.75rem;
  letter-spacing: 0.068em;

  /* 余白設定 */
  margin-top: 0;
  margin-bottom: 30px;

  /* タブレット幅以上用 */
  @include m.mediaQueryMin(md) {
    /* 文字設定 */
    font-size: 2rem;
  }
}

.pg_about .el_sectionTtl {
  /* 文字設定 */
  font-size: 2rem;
}

/*----------------------
  文字
------------------------*/
/* セクションメッセージ */
.el_sectionMsg {
  /* 大きさ設定 */
  max-width: 510px;

  /* 文字設定 */
  color: v.$base-color;
  font-family: "Montserrat", "游ゴシック", "YuGothic", sans-serif;
  font-weight: map-get(v.$fontweights, medium);
  @include m.lineHeightAdjustment(2);

  /* 余白設定 */
  margin-top: 0;
  margin-bottom: 30px;

  /* 文字調整 */
  &::before {
    margin-top: -5.5px;
  }

  &::after {
    margin-bottom: -5.5px;
  }
}

/* aboutページ用セクションメッセージ */
.pg_about .el_sectionMsg {
  /* 文字設定 */
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  font-weight: map-get(v.$fontweights, bold);

  /* 余白設定 */
  margin-bottom: 40px;
}

/* セクションのメインメッセージ */
.el_sectionSummary {
  /* 文字設定 */
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  font-weight: map-get(v.$fontweights, bold);
  font-size: 1.5rem;

  /* 余白設定 */
  margin: 30px 0;
}

/*----------------------
  ボタン
------------------------*/
/* 黒背景＋白文字 */
.el_btn {
  /* 上下中央揃え */
  display: flex;
  justify-content: center;
  align-items: center;

  /* サイズ設定 */
  width: 160px;
  height: 36px;

  /* 装飾設定 */
  background-color: #000;
  text-decoration: none;

  /* 文字設定 */
  color: #fff;
  font-size: bold;
  font-size: 0.75rem;
  letter-spacing: 0.015em;
}

/*----------------------
  フッター
------------------------*/
.el_copyRight {
  /* 文字設定 */
  color: #fff;
  font-size: 0.625rem;
  font-weight: map-get(v.$fontweights, medium);
  white-space: nowrap;
  letter-spacing: 0.015em;

  /* 余白設定 */
  margin: 0;
}

/*----------------------
  ヘルパー
------------------------*/
/* 背景色を白に設定 */
.bg_white {
  background-color: #fff;
  opacity: 95%;
}

/* タブレット幅以上でのヘルパー */
@media screen and (min-width: 768px) {
  .md_pt60 {
    padding-top: 60px !important;
  }

  .md_pb80 {
    padding-bottom: 80px !important;
  }

  .md_mb80 {
    margin-bottom: 80px !important;
  }
}

/* PC幅以上でのヘルパー */
@media screen and (min-width: 1440px) {
  /* 余白設定 */
  .lg_pt80 {
    padding-top: 80px !important;
  }

  .lg_pb120 {
    padding-bottom: 120px !important;
  }

  .lg_mb0 {
    margin-bottom: 0 !important;
  }

  /* 右揃え */
  .lg_right {
    margin-right: 0;
    margin-left: auto;
  }
}
