@use "mixin" as m;

/*------------------------------------------------
    ファイル名：_main.scss
    機能：webページ全体のスタイルを記述する
--------------------------------------------------*/

/*----------------------
  レイアウト
------------------------*/
/*--- ヘッダー ---*/
.ly_header {
  width: 100vw;
}

.ly_header_inner {
  max-width: 1000px;
}

/*--- コンテンツ ---*/

/*--- フッター ---*/
.ly_footer {
  width: 100vw;
  padding: 30px 0;
}

/*----------------------
  ヘッダー
------------------------*/

/*----------------------
  メインビジュアル
------------------------*/

/*----------------------
  タイトル
------------------------*/

/*----------------------
  フッター
------------------------*/
.el_copyRight {
  /* 余白設定 */
  margin: 0;

  /* 文字設定 */
  font-size: 0.875rem;
  font-weight: bold;
  @include m.letterSpacingAdjustment(0.05em);
}

/*----------------------
  ヘルパー
------------------------*/
/*--- PC幅でのみ表示 ---*/
.lg_only {
  display: block !important;
}

@media screen and (max-width: 768px) {
  .lg_only {
    display: none !important;
  }
}

/*--- タブレット幅以下でのみ表示 ---*/
.md_only {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .md_only {
    display: block !important;
  }
}
