@use "variables" as v;

/*------------------------------------------------
    ファイル名：_mixin.scss
    機能：mixinを記述する
--------------------------------------------------*/

/*----------
    メディアクエリを定義する
----------*/
@mixin mediaQueryMin($breakpoint: sm) {
  @media screen and (min-width: map-get(v.$breakpoints, $breakpoint)) {
    @content;
  }
}

/*----------
    line-heightを調節する（XDとwebで仕様が異なるため） 
    $line-height: line-heightの指定値
----------*/
@mixin lineHeightAdjustment($line-height) {
  line-height: $line-height;

  &::before {
    display: block;
    content: "";
    margin-top: calc((1 - #{$line-height}) * 0.5em);
  }

  &::after {
    display: block;
    content: "";
    margin-bottom: calc((1 - #{$line-height}) * 0.5em);
  }
}

/*----------
    letter-spacingを調節する（XDとwebで仕様が異なるため） 
    $letter-spacing: letter-spacingの指定値
----------*/
@mixin letterSpacingAdjustment($letter-spacing) {
  letter-spacing: $letter-spacing;
  margin-right: -$letter-spacing;
}
