/*------------------------------------------------
    ファイル名：_variables.scss
    機能：変数を記述する
--------------------------------------------------*/

/* ベースカラー */
$base-color: #333;

/* ブレークポイント */
$breakpoints: (
  sm: 375px,
  md: 768px,
  lg: 1440px,
) !default;
