.vscode/*
about/img/*
contact/img/*
css/normalize.css
css/style.css.map
css/style.min.css
css/style.min.css.map
fonts/*
img/*
js/jquery-3.6.1.min.js
node_modules/
.eslintrc.js
.prettierrc.js
.stylelintrc.js
package.json
package-lock.json
